<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Napasin"
        tools:targetApi="31">
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".GuideActivity"
            android:exported="false"
            android:label="@string/title_activity_guide"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".MeditationActivity"
            android:exported="false"
            android:label="@string/title_activity_meditation"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".ui.theme.MeditationActivity.kt"
            android:exported="false"
            android:label="@string/title_activity_meditation_activity.kt"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".Meditation"
            android:exported="false"
            android:label="@string/title_activity_meditation"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".BeginActivity"
            android:exported="false"
            android:label="@string/title_activity_begin"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".EulaActivity"
            android:exported="false"
            android:label="@string/title_activity_eula"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".about"
            android:exported="false"
            android:label="@string/title_activity_about"
            android:theme="@style/Theme.Napasin" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Napasin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>